@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 54, 72);
}

::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

body {
  background: #ffffff;
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.root__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside ul li a.active {
  background: #5299a3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  appearance: none;
}

thead {
  background-color: #5299a3;
}

table td {
  padding: 20px 10px;
}

table td img {
  width: 60px;
}

.odd:nth-child(odd) {
  background: #cdcdcd;
  color: #18282a;
}
.odd:nth-child(odd) span {
  color: #0267ff;
  padding: 10px 20px;
}
.odd:nth-child(even) {
  color: #18282a;
}
.odd:nth-child(even) span {
  color: #0267ff;
  padding: 10px 20px;
}
